.sidebar-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: fixed;
    width: 320px;
    transition: width 0.5s;
}

.sidebar-wrapper.closed {
    width: 40px;
}

.sidebar-wrapper.black {
    background-color: black;
    color: white;
}

.sidebar-wrapper.black a:visited, .sidebar-wrapper.black a:not(:visited) {
    color: white;
}

.sidebar-wrapper.black svg {
    fill: white;
}


.sidebar-wrapper.white {
    background-color: white;
    color: black;
}

.sidebar-wrapper.white svg {
    fill: black;
}

.sidebar-wrapper.white a:visited, .sidebar-wrapper.white a:not(:visited) {
    color: black;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.sidebar-nav {
    height: 80vh;
    padding: 100px 0;
}

.sidebar-nav.closed {
    display: none;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li a {
   font-size: 27px;
   transition: all 0.3s ease-in-out;
   font-weight: 400;
   text-decoration-line: none;
   text-decoration-style: solid;
   text-decoration-thickness: auto;
}

.sidebar-nav li a:hover {
    color: #f18a27!important;
}

.sidebar-nav-icon {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: -7px;
}
